@import url('/css/fonts.css');

:root{
    --primaryFonts : 'Royal Tours Basic Font', sans-serif;
    --titleFonts : 'Royal Tours Title Font', cursive;
    --btnFonts: 'Royal Tours Button Font', monospace;
    --headlineFonts: "Royal Tours Headline Font", 'Courier New';

    /* Colors */
    --textDark: #3f4954;
    --textLight: #686666da;

    --black: #000;
    --darkColor1: #0f0f0f;
    --darkColor2: #104f55;
    --lightColor1: #a1c4cf;
    --white: #FFF;

    --gradient: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%)

}

/* ---------------------- CSS Reset ---------------------- */
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------- Global Styling ---------------------- */
body{
    font-family: var(--primaryFonts);
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.btn{
    background: var(--gradient);
    padding: 1rem 3rem;
    font-family: var(--btnFonts);
    color: var(--black);
}
.rounded-btn{
    border-radius: 4rem;
}
.banner-btn:hover{
    border: 1px solid var(--white);
    background: transparent;
    color: var(--white);
}

/* ---------------------- Utility Classes ---------------------- */
.flex-vertical-center{
    display: flex;
    align-items: center;
}

/* ---------------------- Navbar ---------------------- */
nav{
    /* background-color: var(--lightColor1); */
    height: 5rem;
    overflow: hidden;
    transition: 0.5s;
    padding: 0 30px;
}
.nav-expand{
    height: 32rem;
}

.nav-upper{
    height: 5rem;
    justify-content: space-between;
    font-size: 1.5rem;
}
.nav-logo{
    font-family: var(--titleFonts);
    color: var(--textDark);
}

.nav-menu{
    padding-left: 3rem;
}
.nav-menu li{
    padding: 1.5rem 0;
}
.nav-menu li:hover{
    background-color: var(--darkColor2);
}
.nav-menu li:hover .nav-link{
    color: var(--white);
}
.nav-link{
    color: var(--textDark);
    font-size: 1.2rem;
}

.social{
    margin-top: 1.5rem;
}
.social-links{
    margin-right: 10px;
}

.social-icon{
    font-size: 1.3rem;
    color: var(--textDark);
}
.social-icon:hover{
    color: var(--lightColor1);
}

/* ---------------------- Banner ---------------------- */
.banner{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}
.banner-bg-img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 2px;
    opacity: 0.7;
}
.svg-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.banner-text{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white);
    width: 90%;
}
.banner-title{
    font-size: 1.5rem;
}
.banner-headline{
    font-size: 2.5rem;
    font-family: var(--titleFonts);
    margin-bottom: 4rem;
}

/* ---------------------- Carousel ---------------------- */
.carousel-container{
    position: relative;
    bottom: 5px;
    padding: 5rem 0;
    z-index: 5;
    background: url('/assets/Abract01.png') no-repeat top right/100vw;
}
.carousel-item{
    width: 85%;
    margin: auto;
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}
.carousel-title{
    margin: 1.5rem 0 3rem;
}
.carousel-img{
    height: 250px;
}
.carousel-item p{
    margin-top: 2rem;
}
.owl-nav{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.owl-prev{
    margin-right: 1rem;
}
.owl-prev, .owl-next{
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

/* ---------------------- main section ---------------------- */
main{
    display: grid;
}

.blog-post-container{
    width: 85%;
    margin: auto;
}
.blog-img-container{
    position: relative;
    overflow: hidden;
}
.blog-post-sticker{
    position: absolute;
    bottom: 5px;
    left: 0;
    background: var(--gradient);
    padding: 0.5rem 1rem;
}
.blog-img{
    width: 100%;
    transition: 0.2s;
}
.blog-img:hover{
    transform: scale(1.2);
}
.blog-img:hover + .blog-post-sticker{
    bottom: 0;
}
.blog-headline{
    font-family: var(--headlineFonts);
    color: var(--textDark);
    margin: 1rem 0;
    font-size: 1.7rem;
}
.blog-text{
    font-size: 1.2rem;
    font-family: var(--titleFonts);
    color: var(--textLight);
    margin-bottom: 2rem;
}
.separator{
    margin: 2rem 0 1rem;
}
.pagination{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5rem auto;
    width: fit-content;
}
.page-nos{
    font-family: var(--titleFonts);
    background-color: var(--textDark);
    color: var(--white);
    padding: 0.65rem 1rem;
    border-radius: 50%;
    cursor: pointer;
}
.pagination-arrows{
    font-size: 1.5rem;
    cursor: pointer;
}

/* ---------------------- Sidebar ---------------------- */
.siderbar-items{
    width: 90%;
    margin: 1rem auto 7rem;
}
.sidebar-title{
    font-family: var(--titleFonts);
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.category{
    background: var(--gradient);
    width: 80%;
    margin: 1rem auto;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

/* ---------------------- Sidebar: Popular Posts ---------------------- */
.popular-post{
    width: 85%;
    margin: auto;
}
.popular-post-img{
    width: 100%;
}
.popular-post-headline{
    font-family: var(--headlineFonts);
    color: var(--textDark);
    font-size: 1.2rem;
    margin: 1rem 0 4rem;
}
/* ---------------------- Sidebar: Newsletter ---------------------- */
.newsletter-form{
    width: 85%;
    margin: auto;
}
.newsletter-form input{
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
}
.newsletter-form div{
    margin-bottom: 1rem;
}
.newsletter-email{
    padding-left: 20px;
}
.newsletter-submit{
    background: var(--gradient);
    border: none;
}

/* ---------------------- Midea Queries ---------------------- */
@media (min-width: 750px){
    nav{
        display: flex;
        justify-content: space-between;
    }
    .nav-menu{
        display: flex;
        padding-left: 0rem;
    }
    .nav-menu li{
        padding: 1.5rem 1rem;
    }
    .bar-icon{
        display: none;
    }
    .carousel-container{
        background-size: auto;
    }
}

@media(min-width: 1000px){
    .nav-menu li{
        padding: 1.5rem 2rem;
    }
    .banner-bg-img{
        height: 100%;
        width: 100%;
    }
}