@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: black;
}
.text-light{
    color: gray;
}
.striked{
    text-decoration: line-through;
}


.card{
    background-color: white;
    width: 400px;
    height: 400px;
    margin: 2rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.card-upper{
    /* background-color: lightpink; */
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.product-img{
    height: 200px;
}

.best-seller, .heart-icon, .ratings-container{
    position: absolute;
}
.heart-icon{
    bottom: 15px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}
.ratings-container{
    bottom: 15px;
    left: 15px;
    background-color: aliceblue;
    padding: 0.2rem 0.6rem;
    font-size: 0.9rem;
    border-radius: 15px;
}
.best-seller{
    top: 15px;
    left: 15px;
}

.card-lower{
    background-color: aliceblue;
    height: 125px;
    padding: 0.5rem 1rem;
}
.product-name{
    font-size: 1.3rem;
    margin-top: 15px;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.colors-container{
    display: flex;
    align-items: center;
    gap: 5px;
}

.color{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
#color1{
    background-color: orangered;
}
#color2{
    background-color: blue;
}
#color3{
    background-color: green;
}

.price-container{
    font-size: 1.2rem;
}
.price-container .mrp{
    font-weight: 500;
}
.offer{
    position: absolute;
    background-color: red;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-weight: 900;
    font-size: 1.2rem;
    /* padding-left: 10px;
    padding-top: 20px; */
    text-align: center;
    padding-top: 13px;
    top: -10px;
    right: -10px;
}