@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Raleway:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --normal-fonts: 'Raleway', sans-serif;
    --title-fonts: 'Alkatra', cursive;
    --black: black;
    --color-dark1: #123456;
    --color-dark2: #476288;
    --color-light1: #DDF2FF;
    --color-ligth2: #DCA11D;
    --white: white;
}

body{
    background-color: var(--color-light1);
    font-family: var(--normal-fonts);
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.navbar{
    height: 5rem;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
}
.expand{
    height: 12.7rem;
}
.navbar .upper{
    background-color: var(--color-dark1);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.nav-logo{
    height: 4rem;
}
.navbar .bar-icon{
    color: var(--white);
    font-size: 1.5rem;
}
.navbar .lower{
    background-color: var(--color-dark2);
    padding: 20px;
}
.nav-links{
    color: var(--color-ligth2);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 2px;
}
.navbar .seperator{
    height: 1px;
    background-color: var(--color-light1);
    margin: 1rem 0;
}

/* Form */
.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-dark1);
    width: 95%;
    max-width: 500px;
    padding: 2rem 1rem 1rem;
    border-radius: 20px;
}
form{
    border: var(--color-light1) solid;
    border-radius: 20px;
    color: var(--color-light1);
    padding: 2rem 1rem;
    position: relative;
}
.form-title{
    font-family: var(--title-fonts);
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(-55%);
    background-color: var(--color-dark1);
    padding: 0 2px;
}
.input-box{
    margin-bottom: 1rem;
    position: relative;
}
.input-box input, .input-box select{
    width: 100%;
    height: 3rem;
    background-color: var(--color-dark1);
    border: none;
    border-bottom: 1px solid var(--color-light1);
    outline: none;
    color: var(--color-light1);
    font-size: 1.4rem;
    padding-left: 20px;
}
.input-box input:focus, .input-box input:valid, .input-box select:focus, .input-box select:valid{
    border: 1px solid var(--color-light1);
    border-radius: 10px;
}
.placeholders{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
}
.input-box input:focus + .placeholders, .input-box input:valid + .placeholders,
.input-box select:focus + .placeholders, .input-box select:valid + .placeholders{
    top: 0;
    left: 10px;
    transform: translateY(-50%);
    background-color: var(--color-dark1);
    padding: 0 2px;
}


.remember-me-fgt-pwd-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;
}
#remember-me{
    
}
.forgot-password-link{
    color: var(--color-ligth2);
}

.submit-box{
    /* border: red solid; */
    margin: 1.5rem 0;
}
.submit-btn{
    width: 100%;
    border: none;
    background-color: var(--color-light1);
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 1.3rem;
    cursor: pointer;
    border: solid var(--color-light1);
}
.submit-btn:hover{
    background-color: var(--color-dark1);
    color: var(--color-light1);
}
.new-old-user-box{
    text-align: right;
}
.login-signup-link{
    color: var(--color-ligth2);
}

/* Sign up Form */
.qualification-options{
    font-size: 0.8rem;
}
.gender-box{
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.tnc-checkbox{
    margin-bottom: 0.5rem;
}

/* Media Queries */
/* @media screen (){ */
/* @media all (){ */
@media (min-width: 375px){
    .form-container{
        width: 95%;
        padding: 2rem 1.5rem 1.5rem;
    }
    form{
        padding: 2rem 1.5rem;
    }
    .remember-me-fgt-pwd-container{
        flex-direction: row;
    }
}

@media (min-width: 768px){
    .navbar .bar-icon{
        display: none;
    }
    .navbar .lower{
        background-color: var(--color-dark1);
        padding: 0;
        position: absolute;
        top: 1.6rem;
        right: 20px;
        display: flex;
        gap: 2rem;
    }
    .navbar .seperator{
        display: none;
    }
    .nav-links:hover{
        color: var(--white);
    }
}














