@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.flex-row{
    display: flex;
    align-items: center;
}
.btn{
    background-color: #0f79af;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
}
.btn:hover{
    background-color: #1399de;
}

nav{
    justify-content: space-between;
    align-items: center;
    background-color: rgba(27,37,48,.85);
    height: 5rem;
    padding: 0 60px 0 40px;
}
nav a, .drop-down-arrow{
    color: rgba(242, 244, 246, 0.9);
    font-size: 1.1rem;

}

.left, .nav-menu, .right{
    gap: 20px;
}
.left .brand-logo{
    width: 125px;
}
#browse{
    display: none;
}
nav .dropdown{
    font-weight: 500;
}

.bar-icon{
    color: white;
    font-size: 1.3rem;
    display: none;
}
.nav-mobile{
    display: none;
}



@media (max-width: 1000px){
    .nav-menu{
        background-color: #252E39;
        flex-direction: column;
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        align-items: flex-start;
        padding: 20px 0px;
        display: none;
        height: 18rem;
    }
    .nav-show-hide{
        display: flex;
    }
    .nav-menu li{
        border-bottom: 1px solid #323e4c;
        width: 100%;
        padding-left: 40px;
        padding-bottom: 10px;
    }
    .nav-menu .no-border{
        border-bottom: none;
    }
    #browse{
        display: block;
    }
}

@media (max-width: 650px){
    .bar-icon{
        display: block;
    }
    .right{
        display: none;
    }
    .nav-mobile{
        position: absolute;
        display: block;
        background-color: #252E39;
        top: 5rem;
        left: 0;
        padding: 20px 40px;
        width: 100%;
        z-index: 1;
        height: 18rem;
    }
    .nav-mobile-item{
        margin-bottom: 1.5rem;
    }
    .nav-menu{
        left: 30%;
        z-index: 2;
    }
}